@use "mixins" as *;

// font declarations

@font-face {
  font-family: "Switzer";
  src: url("../assets/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/GeneralSans-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}


:root {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "General Sans";
  font-weight: 400;
}

h1 {
  font-family: "Switzer";
  font-weight: 600;
  font-size: 1.8rem;
  @include break-at("mobile-m") {
    font-size: 2rem;
  }
}

.outline-text {
  -webkit-text-stroke: 1px var(--black);
  -webkit-text-fill-color: transparent;
}