@use "../globals/mixins" as *;

.logo {
  font-size: 2rem;
  font-family: "Switzer";
  font-weight: 600;
  display: grid;
  justify-items: end;
  line-height: .8;
  cursor: pointer;
  width: min(100vw, 320px);
  justify-self: end;
  overflow: hidden;

  & > *:first-child {
    justify-self: start;
  }

}

#round-logo {
  max-width: 240px;
  mix-blend-mode: overlay;
  margin-bottom: 1rem;
  .remove-blend-mode {
    mix-blend-mode: normal;
    fill: none;
    stroke-width: 4;
    stroke: black;
    opacity: .5;
  }
  @include animation("rotate 18s linear infinite")
}