.logo {
  font-size: 2rem;
  font-family: "Switzer";
  font-weight: 600;
  display: grid;
  justify-items: end;
  line-height: .8;
  cursor: pointer;

  & > *:first-child {
    justify-self: start;
  }
}