:root {
  background-color: white;
  overflow: hidden;
}

body {
  height: var(--doc-height);
  background: url("../assets/subtle_grunge.png");
}

#root {
  color: var(--black);
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
}

main {
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow-y: auto;

  section {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}